.weather-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.weather-image {
  max-width: 100px;
  max-height: 100px;
  animation: fadeIn 1s ease-in-out;
}

/* Плавное появление изображения */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
